<span class="pull-left">
  <strong>Zone {{zone.number}}</strong>
  <br>
  <small>{{zone.description}}</small>
</span>
<div id={{toggleId}} class="{{if zone.active 'active'}} toggle toggle-zone">
  <div class="toggle-handle"></div>
</div>
