<header class="bar bar-nav">
  <h1 class="title">
    {{fa-icon 'cloud-upload'}} Sending commands…
  </h1>
</header>

<div class="content">
  <center class="weathermatic-loading-message">
    <h2>Communicating <br> with your device</h2>
    <h4>Please stand by</h4>

    {{loading-indicator}}
  </center>
</div>
