* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  input, textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
  }
}

@import 'variables';
@import 'base64-images';
@import 'custom';
@import 'spinner';

@import 'liquid-fire';
@import 'xpull-custom';

@import 'program-detail';

@import 'ios';
