body {

  background-color: #efeff4;
}

h2 {
  font-size: 25px;
}
.section select {
  -webkit-appearance: menulist;
}
.zone-image {
    margin: 65px 0 0 0;
    display: inline-block;
    position: relative;
    width: 100%;
    background: #000;
    height: 150px;
}
.email-inspection-form {
    padding: 20px 15px 0 15px;
    margin: 65px 0 0 0;
    font-size: 14px;
}
.email-inspection-form label {
    margin: 0 0 10px 0;
    display: block;
}
#general-inspection {
  .table-view {
    margin: 12px 0 0 0;
  }
  .section {
    border-bottom: solid 1px #ccc;
    .section-title {
      margin: 20px 0 0 15px;
      font-weight: normal;
      color: #505050;
      font-size: 18px;
      display: block;
    }
    ul {
      padding: 0 15px;
      li {
        list-style: none;
        font-size: 14px;
        margin: 0 0 5px 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

#program-inspection {
  .table-view {
    margin: 12px 0 0 0;
  }
  .section {
    border-bottom: solid 1px #ccc;
    .section-title {
      margin: 10px 15px 0 15px;
      font-weight: normal;
      color: #505050;
      font-size: 13px;
      display: block;
      .program-title {
        font-weight: bold;
        color: #ce3838;
      }
      .program-details {
        float:right;
        color: #303030;
        font-weight: bold;
      }
    }
    .days-of-week {
      display: block;
      padding: 0 10px;
      li {
        float: left;
        height: 40px;
        width: 40px;
        margin: 0 6px 0 0;
        line-height: 36px;
        text-align: center;
        border-radius: 24px;
        border: solid 2px #fff;
        cursor: pointer;
      }
      li:last-child {
        margin: 0;
      }
      li:hover,.active {
        background: #303030;
        color: #fff;
      }
    }
    .time-of-day {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 13px;
      margin: 15px 0 0 0;
    }
    .section-content {
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 16px;
      color: #303030;
      font-weight: bold;
    }
    ul {
      padding: 0 15px;
      li {
        list-style: none;
        font-size: 14px;
        margin: 0 0 5px 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

#omit-inspection {
  .table-view {
    margin: 12px 0 0 0;
  }
  .section {
    border-bottom: solid 1px #ccc;
    .section-title {
      margin: 10px 15px 0 15px;
      font-weight: normal;
      color: #505050;
      font-weight: bold;
      font-size: 13px;
      display: block;
      .omit-title {
        font-weight: bold;
      }
      .program-details {
        float:right;
        color: #303030;
        font-weight: bold;
      }
    }
    .days-of-week {
      display: inline-block;
      padding: 0 10px;
      margin: 6px 0;
      li {
        float: left;
        height: 40px;
        width: 40px;
        margin: 0 6px 0 0;
        line-height: 36px;
        text-align: center;
        border-radius: 24px;
        border: solid 2px #fff;
        cursor: pointer;
      }
      li:last-child {
        margin: 0;
      }
      li:hover,.active {
        background: #303030;
        color: #fff;
      }
    }
    .time-of-day {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 13px;
      margin: 15px 0 0 0;
    }
    .section-content {
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 16px;
      color: #303030;
      font-weight: bold;
      .section-list {
        text-align: left;
        padding: 10px 0 0 0;
        font-weight: normal;
      }
    }
    ul {
      padding: 0 15px;
      li {
        list-style: none;
        font-size: 14px;
        margin: 0 0 5px 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

#seasonal-inspection {
  .table-view {
    margin: 12px 0 0 0;
  }
  .section {
    display: inline-block;
    padding: 20px 20px 0 20px;
    width: 100%;
    .section-title {
      margin: 0;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;
      font-size: 15px;
      border: solid 1px #ccc;
      color: #505050;
      display: block;
      .omit-title {
        font-weight: bold;
      }
      .program-details {
        float:right;
        color: #303030;
        font-weight: bold;
      }
    }
    .days-of-week {
      display: inline-block;
      padding: 0 10px;
      margin: 6px 0;
      li {
        float: left;
        height: 40px;
        width: 40px;
        margin: 0 6px 0 0;
        line-height: 36px;
        text-align: center;
        border-radius: 24px;
        border: solid 2px #fff;
        cursor: pointer;
      }
      li:last-child {
        margin: 0;
      }
      li:hover,.active {
        background: #303030;
        color: #fff;
      }
    }
    .time-of-day {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 13px;
      margin: 15px 0 0 0;
    }
    .section-content {
      text-align: center;
      margin: 0;
      padding: 0;
      display:inline-block;
      width: 100%;
      font-size: 16px;
      color: #303030;
      font-weight: bold;
      .section-list {
        text-align: left;
        padding: 5px 0;
        margin: 0;
        float: left;
        width: 50%;
        box-sizing: border-box;
        font-weight: normal;
        .seasonal-program {
          display: block;
          text-align: center;
        }
        .seasonal-percentage {
          display:block;
          text-align: center;
          font-weight: normal;
        }
      }
      .program-a {
        border: solid 1px #ccc;
        border-top: none;
      }
      .program-b {
        border: solid 1px #ccc;
        border-top: none;
        border-left: none;
      }
      .program-c {
        border: solid 1px #ccc;
        border-top: none;
      }
      .program-d {
        border: solid 1px #ccc;
        border-top: none;
        border-left: none;
      }
    }
    ul {
      padding: 0 15px;
      li {
        list-style: none;
        font-size: 14px;
        margin: 0 0 5px 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}



.radio-button {
  float: left;
}
.radio-button input {
  margin: 0 5px 0 0;
}
.radio-button:first-child {
  margin: 0 10px 0 0;
}
.same-line {
  display: inline-block;
}
.programming .pull-indicator {
  display: none;
}
.programming .weathermatic-page-bottom {
  margin-bottom: 280px;
}
.menu-option {
    background: none;
    border: none;
    float: right;
    margin: 22px 5px;
    font-size: 21px;
    cursor: pointer;
    z-index: 20;
    position: relative;
    color: #fff;
}
button.full-screen-image {
    position: absolute;
    bottom: 40px;
    right: 16px;
    background: none;
    padding: 10px;
}
.needs-send-message .table-view-cell > a:not(.btn) {
  padding: 11px 48px 11px 15px;
}
.card .table-view-cell > a:not(.btn) {
  padding: 11px 28px 11px 15px;
}
button.full-screen-image i {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    font-size: 23px;
    text-shadow: 1px 1px 1px #000;
}
.statusBar {
  height: 50px;
  text-align: center;
  color:#fff !important;
  font-size:13px;
  line-height: 62px;
  background:#4cd964;
  display:none;
}
.statusBar div {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
.zones a {
  display:block;
  color:#000
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}
.custom-file-input {
  color: transparent;
  visibility: hidden;
  width: 85px !important;
  position: relative;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select File';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.weathermatic-controller-page {
  margin-top: 8px;
}

.spaced-icon {
  min-width: 25px;
  text-align: center;
}

.fault-row {
  min-height: 50px;
  font-size: 0.8em;
}

.high-contrast {
  padding-top: 15px;
  height: 3.5em;
  a {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.weathermatic-controller-details-faults {
  .btn {
    display: block;
    margin-top: 0.3em;
    width: 100%;
  }
}

.warning-message {
  border: 1px dashed red;
  text-align: center;
  background: #FFE9E9;
  margin-bottom: 0.5em;
  p {
    padding-top: 1.0em;
    padding: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    color: #690000;
  }
}

.location-badge {
  background-color: #2191CC;
  color: #fff;
}

.controller-count-badge {
  background-color: #106AA5;
  color: #fff;
}

.weathermatic-select-program-call-to-action {
  color: #101010 !important;
}

.weathermatic-select-program {
  font-weight: bold;
  padding: 20px 65px 5px 15px;

  a {
    &.navigate-right:after, &.push-right:after {
      color: #fff !important;
    }
  }
}

.weathermatic-select-program-row {
  cursor: pointer;
}

.weathermatic-select-program-a {
  background-color: $program-a-color;
  border-color: $program-a-color;
  color: #fff !important;
}

.weathermatic-select-program-b {
  background-color: $program-b-color;
  border-color: $program-b-color;
  color: #fff !important;
}

.weathermatic-select-program-c {
  background-color: $program-c-color;
  border-color: $program-c-color;
  color: #fff !important;
}

.weathermatic-select-program-d {
  background-color: $program-d-color;
  border-color: $program-d-color;
  color: #fff !important;
}

.weathermatic-program-description {
  color: #fff;
}

.weathermatic-run-program-description {
  color: #fff;
  white-space: normal;
  margin: 0 1em;
}

.weathermatic-btn-run-program {
  border-radius: 0;

  &.weathermatic-btn-run-program-a {
    color: #fff !important;
    border-color: $program-a-color !important;
    background-color: $program-a-color !important;
  }

  &.weathermatic-btn-run-program-b {
    color: #fff !important;
    border-color: $program-b-color !important;
    background-color: $program-b-color !important;
  }

  &.weathermatic-btn-run-program-c {
    color: #fff !important;
    border-color: $program-c-color !important;
    background-color: $program-c-color !important;
  }

  &.weathermatic-btn-run-program-d {
    color: #fff !important;
    border-color: $program-d-color !important;
    background-color: $program-d-color !important;
  }
}

.weathermatic-loading-message {
  margin: 100px auto;

  h2 {
    margin-bottom: 1em;
  }
}

.weathermatic-select-edit-program {
  li.table-view-cell {
    min-height: 90px;
  }
}

.weathermatic-run-zone-select-run-time {
  select {
    width: 3.5em;
    height: 3em;
    font-size: 16px;
    font-weight: bold;
  }
}

.weathermatic-zone-used {
  margin-right: -2.7em;
  button {
    margin: 11px 0;
    width: 75px;
    color: #666;
    height: auto;
    min-height: 44px;
  }
}

.weathermatic-settings-input-small {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 75px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-medium {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 90px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-medium-2 {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 120px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-large {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 170px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-time {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 55px;
  }
}

.weathermatic-zone-available {
  select {
    margin: 11px 0;
  }
}

.weathermatic-settings-date {
  input {
    width: 170px;
    margin-right: -2.7em;
  }
}

.weathermatic-disabled-label {
  color: lightgray;
}

.weathermatic-save-success {
  color: $positive-color;
}

.weathermatic-loading-message-text {
  margin-top: 1em;
}

.weathermatic-loading-mesage-dismiss {
  margin-top: 2em;
}

.weathermatic-manual-run-success {
  margin: 150px auto;
  color: $positive-color;
}

.weathermatic-smartlink-controller-loading {
  height: 2.9em;
  margin-top: -1.2em;
}

.hidden {
  display: none;
}

.weathermatic-search-not-found-term {
  margin-top: 0.3em;
  color: #777;
}

.edit-labels .weathermatic-edit-zone p {
  margin: 10px 0;
  text-align: left;
}

.weathermatic-sites-search {
  input[type=search] {
    margin-top: 10px;
  }
}

.weathermatic-header {
  color: #fff;
  height: 65px;

  &.bar {
    border-bottom: none;
  }

  .weathermatic-logo {
    margin-top: 20px;
    width: 180px;
  }

  ._weathermatic-header-icon {
    width: 45px;
    height: 45px;
    padding-top: 0;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    // background-color: #fff;
    // border: 1px solid #ddd;
    // border-radius: 25px;
  }

  a.icon {
    @extend ._weathermatic-header-icon;
    margin: 10px 5px;
  }

  span.icon {
    @extend ._weathermatic-header-icon;
    margin: 7px 5px;
  }

  .weathermatic-logo-container {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: #000;
    text-align: center;
    white-space: nowrap;
  }

  h1.title {
    color: inherit !important;
    margin-top: 10px;
  }

  &.weathermatic-left-nav-only {
    h1.title {
    }
  }
}

.background-area {
    background-image: url(images/weathermatic-logo.png);
    background-size: auto 30%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: 0px;
    right: 0;
    opacity: 0.1;
    bottom: 0px;
}

.controllers {
  padding-top: 65px !important;
}


#login-form {
  margin-top: 3em;
}

.login-help {
  margin-top: 1em;
}

.errors {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #d9534f;
  border-radius: 3px;
  padding: 0.5em;

  .messages {
    color: inherit;
  }
}

.vertical-middle {
  margin-top: 60%;
}

.weathermatic-instruction-icon {
  margin-right: 12px;
  display: inline;
  width: 30x;
}

.weathermatic-disabled {
  color: #999;
}

.weathermatic-badge-warning {
  color: #fff;
  background-color: $warning-color;
}

.walk-site-nav-container {
  margin-top: 15px;
  height: 100%;
}

$walk-site-zone-nav-border-color: #ddd;

.walk-site-zone-nav {
  position: absolute;
  top: 0;
  padding: 0px;
  margin: 0px;
  height: 200px;
  width: 60px;
  background-color: #33b5e5;
  border-top: 1px solid $walk-site-zone-nav-border-color;
  border-bottom: 1px solid $walk-site-zone-nav-border-color;
  z-index: 15;

  .icon {
    color: #fff;
  }
}

.walk-site-next-zone {
  @extend .walk-site-zone-nav;
  right: 0px;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid $walk-site-zone-nav-border-color;
  border-right: none;

  .icon {
    padding-left: 7px;
  }
}

.walk-site-prev-zone {
  @extend .walk-site-zone-nav;
  left: 0px;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  border-right: 1px solid $walk-site-zone-nav-border-color;

  .icon {
    padding-right: 7px;
  }
}

.walk-zone-disabled {
  background-color: #D6D6D6;
}

.walk-site-control {
  width: 60%;
  height: 50px;
}

.weathermatic-error-list-item {
  padding: 1em;
}

.weathermatic-warning-icon {
  color: orangered;
}

.weathermatic-jump-to-zone {
  height: 50px;

  &> button {
    height: 52px;
    background-color: #33b5e5;
    color: #fff;
  }
}

.smartlink-controller-cell {
  padding-top: 20px;
  padding-bottom: 20px;
}
.zone-image-default {
  margin: 0;
  height: 100%;
  width: auto;
}
.app-version {
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  left: 0;
  right: 0;
  height: 20px;
  color: #666;
}

.weathermatic-edit-zone {
  padding-top:20px;
  width:90%;
}

.weathermatic-edit-zone input::-webkit-input-placeholder {
  color: #d9d9d9;
}
.zone-image button {
  border: none;
}

#zone-thumbnail {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
}

form#image-uploads {
  height: 100%;
}

.edit-label-control.upload-image-control {
  position: absolute;
  bottom: 0px;
  border: none;
  height: 50px;
  border-radius: 25px;
  background: none;
  width: 50px;
  padding: 0;
  margin: 0;
  right: 11px;
}

.edit-label-control .custom-file-input {
    width: 100% !important;
    height: 100%;
}

#zone-thumbnail,
#zone-thumbnail-default {
  width: 100%;
  height: 150px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000;
}

.value-status {
  font-size: 15px;
  li {
    margin: 0 0 10px 0;
  }
}
#zone-thumbnail-default,
.zone-default {
  background-image: url(images/default-zone-image.jpg);
  display: block;
}

.weathermatic-zone-configure-auto-adjust {
  padding-top:75px;
  width:90%;
}

.weathermatic-content .center-buttons {
  text-align: right;
  margin: 20px 0 0 0;
  .btn {
    padding: 15px 25px;
    font-size: 14px;
    margin: 0 0 0 5px;
  }
}

,
.email-inspection-form .center-buttons {
  text-align: right;
  margin: 20px 10px 0 0;
  .btn {
    padding: 15px 30px;
    font-size: 14px;
    margin: 0 0 0 5px;
  }
}


#create-inspection {
  .section {
    border-bottom: solid 1px #ccc;
    padding: 10px 15px 20px 15px;
    width: 100%;
    display: inline-block;
    .choose-pic {
      margin: 10px 0 0 0;
      font-size: 12px;
    }
    .run-zone {
      background: #5cb85c;
      border:none;
      color: #fff;
      font-size: 14px;
      padding: 12px 45px;
      border-radius: 3px;
    }
    .form-group {
      float: left;
      width: 100%;
      li {
        list-style: none;
        label {
          margin: 0 0 3px 0;
          display: block;
          font-size: 14px;
        }
        .programs {
          padding: 10px 0 0 0;
          span {
            font-size: 16px;
            width: 20%;
            display: inline-block;
          }
        }
      }
    }
    .half {
      float: left;
      li {
        width: 50%;
        float: left;
        box-sizing: border-box;
      }
      li:last-child {
        padding: 0 0 0 10px;
      }
      li:first-child {
        padding: 0 10px 0 0;
      }
    }
    .half-input {
      select {
        width: 40px;
      }
      input {
        width: 80px;
        margin: 0 0 0 5px;
      }
    }
  }
  .run-zone-section {
    li {
      text-align: center;
    }
    label {
      text-align: left;
    }
  }
}

.edit-inspection-form {
  margin: 0;
}
.create-inspection {
  padding: 0;
}
.btn-auto-adjust-menu {
  width: 90%;
}

#auto-adjust-menu {
  overflow-y:auto !important;

  .ember-select {
    height: 2.5em;
    font-size: 17px;
  }
}

#zone-image {
  margin-top:60px;
  width:100%;

}
.content > .table-view:first-child {
    margin: 0;
}
.table-view .table-view-cell:last-child {
  background: none;
}
.weathermatic-content {
  overflow-y: scroll !important;
  overflow-x: hidden;
  min-height: 800px;
  padding: 65px 0 0 0 !important;
  height: 100%;
  background: #fff;
  position: relative;
  @media(min-height: 800px) {
    height: 1100px;
  }
  position:relative;
}

.show-zone-image {
  width: 100%;
  margin-bottom:0px;
  height:100px;
}

.btn-show-zone-image {
  margin-bottom:0px;
}

#image-upload-input {
  width:210px;
}

.uploading {
    background: #000;
    display: inline-block;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 52px;
    left: 50%;
    margin-left: -67px;
}

.zone-image #image-upload-inputs:before {
    content: "";
    background-image: url(images/camera.png);
    background-size: 50% auto;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0;
    text-shadow: none;
}

.image-uploads {
  height: 100%;
}

.edit-label-control p {
    background: #000;
    border: none;
    width: 200px;
    text-align: center;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    border: solid 1px #000;
    box-sizing: border-box;
    padding: 10px 0px;
    text-shadow: none;
    color: #fff;
    position: relative;
    top: 0px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.upload-image-control:active {
  background-color: transparent;
}

.upload-image-control {
    height: 64px;
    margin-bottom: 10px;
}

.edit-label-control .upload-image-control {
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}

.upload-image-title {
  font-size:1em;
  font-weight: 400;
  color: #333;
  margin-bottom:5px;
  font-size: 18px;
}

.weathermatic-height-100-percent {
  height: 100%;
}

// Address issue where bottom of scrolled list is not visible, see SM-49, SM-50
.weathermatic-page-bottom {
  margin-bottom: 250px;
}

.weathermatic-errors {
  background-color: $error-color-background;
  color: $error-color;

  p {
    color: #666;
  }
}

.weathermatic-warning {
  background-color: $warning-color;
;
  color: $error-color;

  p {
    color: #fff;
  }
}

.weathermatic-input-error {
  border-color: $error-color !important;
  background-color: $error-color-background !important;
}

.invisible {
  visibility: hidden;
}

.needs-send-message-container {
  padding-top: 20px;
}

.needs-send-message {
  .badge {
    margin-top: 5px;
  }
  .info-text {
    margin-left: 0.5em;
    margin-top: 4px;
  }
  button {
    margin-right: -35px;
  }
}

.toggle-row {
  margin-right: -50px;
  margin-top: 8px;
  width: 165px;
  float: right;

  .toggle {
    margin-left: 8px;
  }
}

.zone-mv-label {
  font-weight: bold;

  .zone-mv-label-numbers {
    float: right;
    margin-right: -25px;
  }

  .zone-mv-label-1 {
    margin-right: 60px;
  }
}
.center-buttons {
  margin: 0 auto;
  text-align: center;
}

.edit-inspection-form {
  padding: 15px;
  select {
    font:inherit; /*keep font style*/
    /* remove border, background and inset shadow */
    background-color:transparent;
    box-shadow:none;
  }
  label {
    display: block;
    margin: 0 0 10px 0;
  }

}
