body {

  background-color: #efeff4;
}

h2 {
  font-size: 25px;
}

.custom-file-input {
  color: transparent;
  visibility: hidden;
  width: 85px !important;
  position: relative;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select File';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  visibility: visible;
  position: absolute;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.weathermatic-controller-page {
  margin-top: 8px;
}

.spaced-icon {
  min-width: 25px;
  text-align: center;
}

.fault-row {
  min-height: 50px;
  font-size: 0.8em;
}

.high-contrast {
  padding-top: 15px;
  height: 3.5em;
  a {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.weathermatic-controller-details-faults {
  .btn {
    display: block;
    margin-top: 0.3em;
    width: 100%;
  }
}

.warning-message {
  border: 1px dashed red;
  text-align: center;
  background: #FFE9E9;
  margin-bottom: 0.5em;
  p {
    padding-top: 1.0em;
    padding: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    color: #690000;
  }
}

.location-badge {
  background-color: #2191CC;
  color: #fff;
}

.controller-count-badge {
  background-color: #106AA5;
  color: #fff;
}

.weathermatic-select-program-call-to-action {
  color: #101010 !important;
}

.weathermatic-select-program {
  font-weight: bold;
  padding: 20px 65px 5px 15px;

  a {
    &.navigate-right:after, &.push-right:after {
      color: #fff !important;
    }
  }
}

.weathermatic-select-program-row {
  cursor: pointer;
}

.weathermatic-select-program-a {
  background-color: $program-a-color;
  border-color: $program-a-color;
  color: #fff !important;
}

.weathermatic-select-program-b {
  background-color: $program-b-color;
  border-color: $program-b-color;
  color: #fff !important;
}

.weathermatic-select-program-c {
  background-color: $program-c-color;
  border-color: $program-c-color;
  color: #fff !important;
}

.weathermatic-select-program-d {
  background-color: $program-d-color;
  border-color: $program-d-color;
  color: #fff !important;
}

.weathermatic-program-description {
  color: #fff;
}

.weathermatic-run-program-description {
  color: #fff;
  white-space: normal;
  margin: 0 1em;
}

.weathermatic-btn-run-program {
  border-radius: 0;

  &.weathermatic-btn-run-program-a {
    color: #fff !important;
    border-color: $program-a-color !important;
    background-color: $program-a-color !important;
  }

  &.weathermatic-btn-run-program-b {
    color: #fff !important;
    border-color: $program-b-color !important;
    background-color: $program-b-color !important;
  }

  &.weathermatic-btn-run-program-c {
    color: #fff !important;
    border-color: $program-c-color !important;
    background-color: $program-c-color !important;
  }

  &.weathermatic-btn-run-program-d {
    color: #fff !important;
    border-color: $program-d-color !important;
    background-color: $program-d-color !important;
  }
}

.weathermatic-loading-message {
  margin: 100px auto;

  h2 {
    margin-bottom: 1em;
  }
}

.weathermatic-select-edit-program {
  li.table-view-cell {
    min-height: 90px;
  }
}

.weathermatic-run-zone-select-run-time {
  select {
    width: 3.5em;
    height: 3em;
    font-size: 16px;
    font-weight: bold;
  }
}

.weathermatic-zone-used {
  margin-right: -2.7em;
  button {
    margin: 11px 0;
    width: 75px;
    color: #666;
    height: auto;
    min-height: 44px;
  }
}

.weathermatic-settings-input-small {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 75px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-medium {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 90px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-medium-2 {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 120px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-large {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 170px;
    color: #000 !important;
  }
}

.weathermatic-settings-input-time {
  margin-right: -2.7em;
  select,input {
    margin: 0;
    width: 55px;
  }
}

.weathermatic-zone-available {
  select {
    margin: 11px 0;
  }
}

.weathermatic-settings-date {
  input {
    width: 170px;
    margin-right: -2.7em;
  }
}

.weathermatic-disabled-label {
  color: lightgray;
}

.weathermatic-save-success {
  color: $positive-color;
}

.weathermatic-loading-message-text {
  margin-top: 1em;
}

.weathermatic-loading-mesage-dismiss {
  margin-top: 2em;
}

.weathermatic-manual-run-success {
  margin: 150px auto;
  color: $positive-color;
}

.weathermatic-smartlink-controller-loading {
  height: 2.9em;
  margin-top: -1.2em;
}

.hidden {
  display: none;
}

.weathermatic-search-not-found-term {
  margin-top: 0.3em;
  color: #777;
}

.weathermatic-sites-search {
  input[type=search] {
    margin-top: 10px;
  }
}

.weathermatic-header {
  color: #fff;
  height: 65px;

  &.bar {
    border-bottom: none;
  }

  .weathermatic-logo {
    margin-top: 20px;
    width: 180px;
  }

  ._weathermatic-header-icon {
    width: 45px;
    height: 45px;
    padding-top: 0;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    // background-color: #fff;
    // border: 1px solid #ddd;
    // border-radius: 25px;
  }

  a.icon {
    @extend ._weathermatic-header-icon;
    margin: 10px 5px;
  }

  span.icon {
    @extend ._weathermatic-header-icon;
    margin: 7px 5px;
  }

  .weathermatic-logo-container {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: #000;
    text-align: center;
    white-space: nowrap;
  }

  h1.title {
    color: inherit !important;
    margin-top: 10px;
  }

  &.weathermatic-left-nav-only {
    h1.title {
      margin-left: 7px;
    }
  }
}

.weathermatic-content {
  padding-top: 52px !important;
}

.background-area {
    background-image: url(images/weathermatic-logo.png);
    background-size: auto 30%;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: 0px;
    right: 0;
    opacity: 0.1;
    bottom: 0px;
}

.controllers {
  padding-top: 65px !important;
}


#login-form {
  margin-top: 3em;
}

.login-help {
  margin-top: 1em;
}

.errors {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #d9534f;
  border-radius: 3px;
  padding: 0.5em;

  .messages {
    color: inherit;
  }
}

.vertical-middle {
  margin-top: 60%;
}

.weathermatic-instruction-icon {
  margin-right: 12px;
  display: inline;
  width: 30x;
}

.weathermatic-disabled {
  color: #999;
}

.weathermatic-badge-warning {
  color: #fff;
  background-color: $warning-color;
}

.walk-site-nav-container {
  margin-top: 15px;
  height: 100%;
}

$walk-site-zone-nav-border-color: #ddd;

.walk-site-zone-nav {
  position: absolute;
  top: 0;
  padding: 0px;
  margin: 0px;
  height: 200px;
  width: 60px;
  background-color: #33b5e5;
  border-top: 1px solid $walk-site-zone-nav-border-color;
  border-bottom: 1px solid $walk-site-zone-nav-border-color;
  z-index: 15;

  .icon {
    color: #fff;
  }
}

.walk-site-next-zone {
  @extend .walk-site-zone-nav;
  right: 0px;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid $walk-site-zone-nav-border-color;
  border-right: none;

  .icon {
    padding-left: 7px;
  }
}

.walk-site-prev-zone {
  @extend .walk-site-zone-nav;
  left: 0px;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  border-right: 1px solid $walk-site-zone-nav-border-color;

  .icon {
    padding-right: 7px;
  }
}

.walk-zone-disabled {
  background-color: #D6D6D6;
}

.walk-site-controls {
  top: 55%;
  width: 100%;
}

.walk-site-control {
  width: 60%;
  height: 50px;
}

.weathermatic-error-list-item {
  padding: 1em;
}

.weathermatic-warning-icon {
  color: orangered;
}

.weathermatic-jump-to-zone {
  height: 50px;

  &> button {
    height: 52px;
    background-color: #33b5e5;
    color: #fff;
  }
}

.smartlink-controller-cell {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-version {
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  left: 0;
  right: 0;
  height: 20px;
  color: #666;
}

.weathermatic-zone-configure-auto-adjust {
  padding-top:75px;
  width:90%;
}

.btn-auto-adjust-menu {
  width: 90%;
}

div.ember-view.liquid-child {
  overflow-y:scroll !important;
}

#auto-adjust-menu {
  overflow:auto !important;

  .ember-select {
    height: 2.5em;
    font-size: 17px;
  }
}

#zone-image {
  margin-top:60px;
  width:100%;
}

.weathermatic-content {
  overflow-y:scroll !important;
  height:800px;
  @media(min-height: 800px) {
    height: 1100px;
  }
  position:relative;
}

.show-zone-image {
  width: 100%;
  margin-bottom:0px;
  height:100px;
}

#zone-thumbnail {
  display:block;
  margin:auto;
  height:100px;
  width:100px;
}

.btn-show-zone-image {
  margin-bottom:0px;
}

.upload-image-control {
  height: 64px;
  margin-bottom:10px;
}

.upload-image-title {
  font-size:1em;
  font-weight: 400;
  color: #333;
  margin-bottom:5px;
  font-size: 18px;
}

#image-upload-input {
  width:210px;
}

.weathermatic-height-100-percent {
  height: 100%;
}

// Address issue where bottom of scrolled list is not visible, see SM-49, SM-50
.weathermatic-page-bottom {
  margin-bottom: 250px;
}

.weathermatic-errors {
  background-color: $error-color-background;
  color: $error-color;

  p {
    color: #666;
  }
}

.weathermatic-warning {
  background-color: $warning-color;
;
  color: $error-color;

  p {
    color: #fff;
  }
}

.weathermatic-input-error {
  border-color: $error-color !important;
  background-color: $error-color-background !important;
}

.invisible {
  visibility: hidden;
}

.needs-send-message-container {
  padding-top: 20px;
}

.needs-send-message {
  .badge {
    margin-top: 5px;
  }
  .info-text {
    margin-left: 0.5em;
    margin-top: 4px;
  }
  button {
    margin-right: -35px;
  }
}

.toggle-row {
  margin-right: -50px;
  margin-top: 8px;
  width: 165px;
  float: right;

  .toggle {
    margin-left: 8px;
  }
}

.zone-mv-label {
  font-weight: bold;

  .zone-mv-label-numbers {
    float: right;
    margin-right: -25px;
  }

  .zone-mv-label-1 {
    margin-right: 60px;
  }
}
