h2 {
  font-size: 25px;
}

.weathermatic-controller-page {
  margin-top: 8px;
}

.weathermatic-controller-details-faults {
  .btn {
    display: block;
    margin-top: 0.3em;
    width: 100%;
  }
}

.run-zone-heading {
  margin-bottom: 0px;
}

.location-badge {
  background-color: #2191CC;
  color: #fff;
}

.controller-count-badge {
  background-color: #106AA5;
  color: #fff;
}

.weathermatic-select-program-call-to-action {
  color: #101010 !important;
}

.weathermatic-select-program {
  font-weight: bold;
  padding: 20px 65px 5px 15px;

  a {
    &.navigate-right:after, &.push-right:after {
      color: #fff !important;
    }
  }

  &.weathermatic-select-program-a {
    background-color: $program-a-color;
    border-color: $program-a-color;
    color: #fff !important;
  }

  &.weathermatic-select-program-b {
    background-color: $program-b-color;
    border-color: $program-b-color;
    color: #fff !important;
  }

  &.weathermatic-select-program-c {
    background-color: $program-c-color;
    border-color: $program-c-color;
    color: #fff !important;
  }

  &.weathermatic-select-program-d {
    background-color: $program-d-color;
    border-color: $program-d-color;
    color: #fff !important;
  }
}

.weathermatic-btn-run-program {
  border-radius: 0;

  &.weathermatic-btn-run-program-a {
    color: #fff !important;
    border-color: $program-a-color !important;
    background-color: $program-a-color !important;
  }

  &.weathermatic-btn-run-program-b {
    color: #fff !important;
    border-color: $program-b-color !important;
    background-color: $program-b-color !important;
  }

  &.weathermatic-btn-run-program-c {
    color: #fff !important;
    border-color: $program-c-color !important;
    background-color: $program-c-color !important;
  }

  &.weathermatic-btn-run-program-d {
    color: #fff !important;
    border-color: $program-d-color !important;
    background-color: $program-d-color !important;
  }
}

.weathermatic-loading-message {
  margin: 100px auto;

  h2 {
    margin-bottom: 1em;
  }
}

.weathermatic-run-zone-select-run-time {
  select {
    width: 3.5em;
    height: 3em;
    font-size: 16px;
    font-weight: bold;
  }
}

.weathermatic-manual-run-success {
  margin: 150px auto;
  color: $positive-color;
}

.weathermatic-smartlink-controller-loading {
  height: 2.9em;
  margin-top: -1.2em;
}

.hidden {
  display: none;
}

.weathermatic-search-not-found-term {
  margin-top: 0.3em;
  color: #777;
}

.weathermatic-header {
  color: #fff;
  height: 65px;

  &.bar {
    border-bottom: none;
  }

  .weathermatic-logo {
    margin-top: 13px;
    width: 180px;
  }

  ._weathermatic-header-icon {
    width: 45px;
    height: 45px;
    padding-top: 0;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    // background-color: #fff;
    // border: 1px solid #ddd;
    // border-radius: 25px;
  }

  a.icon {
    @extend ._weathermatic-header-icon;
    margin: 10px 5px;
  }

  span.icon {
    @extend ._weathermatic-header-icon;
    margin: 7px 5px;
  }

  .weathermatic-logo-container {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: #000;
    text-align: center;
    white-space: nowrap;
  }

  h1.title {
    color: inherit !important;
    margin-top: 10px;
  }

  &.weathermatic-left-nav-only {
    h1.title {
      margin-left: 7px;
    }
  }
}

.weathermatic-content {
  padding-top: 52px !important;
}


#login-form {
  margin-top: 3em;
}

.login-help {
  margin-top: 1em;
}

.errors {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #d9534f;
  border-radius: 3px;
  padding: 0.5em;

  .messages {
    color: inherit;
  }
}

.vertical-middle {
  position: relative;
  top: 46%;
  transform: translateY(-50%)
}

.weathermatic-instruction-icon {
  margin-right: 12px;
  display: inline;
  width: 30x;
}

.weathermatic-disabled {
  color: #999;
}

.weathermatic-badge-warning {
  color: #fff;
  background-color: #f0ad4e;
}

.walk-site-nav-container {
  margin-top: 2em;
}

$walk-site-zone-nav-border-color: #ddd;

.walk-site-zone-nav {
  position: fixed;
  top: 55%;
  padding: 0px;
  margin: 0px;
  height: 200px;
  width: 60px;
  background-color: #33b5e5;
  border-top: 1px solid $walk-site-zone-nav-border-color;
  border-bottom: 1px solid $walk-site-zone-nav-border-color;
  z-index: 15;

  .icon {
    color: #fff;
  }
}

.walk-site-next-zone {
  @extend .walk-site-zone-nav;
  right: 0px;
  border-radius: 3px 0px 0px 3px;
  border-left: 1px solid $walk-site-zone-nav-border-color;
  border-right: none;

  .icon {
    padding-left: 7px;
  }
}

.walk-site-prev-zone {
  @extend .walk-site-zone-nav;
  left: 0px;
  border-radius: 0px 3px 3px 0px;
  border-left: none;
  border-right: 1px solid $walk-site-zone-nav-border-color;

  .icon {
    padding-right: 7px;
  }
}

.walk-site-controls {
  position: fixed;
  top: 55%;
  width: 100%;
}

.walk-site-control {
  width: 60%;
  height: 95px;
}

.weathermatic-error-list-item {
  padding: 1em;
}

.weathermatic-warning-icon {
  color: orangered;
}

.weathermatic-jump-to-zone {
  height: 64px;

  &> button {
    height: 52px;
    background-color: #33b5e5;
    color: #fff;
  }
}
