$program-a-color: #FFA500;
$program-b-color: #aa6708;
$program-c-color: #3c763d;
$program-d-color: #428bca;

$positive-color: #449d44;
$warning-color: #f0ad4e;

$error-color-background: rgba(217, 83, 79, .2);
$error-color: rgb(217, 83, 79);
