<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smartlinknetwork.ios"
  version="2.0.3"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  ios-CFBundleVersion="2.0.3">
    <name>Smartlink Mobile</name>
    <description>
      A remote control for Smartlink irrigation systems
    </description>
    <author email="support@weathermatic.com" href="http://cordova.io">
     Weathermatic Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <access origin="*" />
    <preference name="BackupWebStorage" value="local"></preference>
</widget>
