<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.inspections.select-inspection' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'fa-clipboard'}} Program Inspections </h1>
</header>
<div id="program-inspection" class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Brief Instructions
    </li>
  </ul>
  <div class="general-info">
    {{#each model as |program|}}
    <div class="section">
      <div class="section-title">
        <span class="program-title">Program {{program.identifier}}</span>
        <span class="program-details">Watering Day Setting</span>
      </div>
      <ul class="days-of-week">
        <li class="day active">S</li>
        <li class="day">M</li>
        <li class="day">T</li>
        <li class="day">W</li>
        <li class="day">T</li>
        <li class="day">F</li>
        <li class="day">S</li>
      </ul>
      <span class="time-of-day">during</span>
      <div class="section-content">
        <span class="start-time">00:00 AM</span>
        -
        <span class="end-time">00:00 PM</span>
      </div>
    </div>
    {{/each}}
  </div>
</div>