<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings.edit-controller-advanced' model class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'cloud'}} Enable/Disable Freeze Sensor</h1>
</header>

<div class="content weathermatic-content" style="padding-bottom: 200px;">
  <ul class="table-view">
    {{#each model.zones as |zone|}}
      {{edit-zone zone=zone field='usesFreezeSensor' save='save'}}
    {{/each}}
  </ul>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
