<div class="content">
  <div class="content-padded">
    <h1 class="weathermatic-manual-run-success">
      <center>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-o fa-stack-2x"></i>
          <i class="fa fa-check fa-stack-1x"></i>
        </span>
        <br>
        Success!
      </center>
    </h1>
    {{#link-to 'smartlink-controller' class='btn btn-block btn-primary'}}
      {{fa-icon 'signal'}} Go Back to Controller
    {{/link-to}}
  </div>
</div>
