<header class="bar bar-nav">
  {{#link-to 'smartlink-controller' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">Main Lawn - Select Program</h1>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider weathermatic-select-program-call-to-action">
      {{fa-icon 'play'}} Select a Program
    </li>
    <li class="table-view-cell weathermatic-select-program weathermatic-select-program-a">
      {{#link-to 'smartlink-controller.run-program' 'a' class='push-right'}}
        <h3>Run Program A</h3>
      {{/link-to}}
      <br>
    </li>
    <li class="table-view-cell weathermatic-select-program weathermatic-select-program-b">
      {{#link-to 'smartlink-controller.run-program' 'b' class='push-right'}}
        <h3>Run Program B</h3>
      {{/link-to}}
      <br>
    </li>
    <li class="table-view-cell weathermatic-select-program weathermatic-select-program-c">
      {{#link-to 'smartlink-controller.run-program' 'c' class='push-right'}}
        <h3>Run Program C</h3>
      {{/link-to}}
      <br>
    </li>
    <li class="table-view-cell weathermatic-select-program weathermatic-select-program-d">
      {{#link-to 'smartlink-controller.run-program' 'd' class='push-right'}}
        <h3>Run Program D</h3>
      {{/link-to}}
      <br>
    </li>
  </ul>

  <div class="content-padded">
    {{#link-to 'smartlink-controller' class='btn btn-block btn-negative'}}
      {{fa-icon 'times-circle'}} Cancel
    {{/link-to}}
  </div>
</div>
