<header class="bar bar-nav">
  {{#link-to 'smartlink-controller' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">Mega Museum - Walk Site</h1>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell">
      1. Walk Site
    </li>
    <li class="table-view-cell">
      2. ???
    </li>
    <li class="table-view-cell">
      3. Profit!
    </li>
  </ul>
</div>
