<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.inspections.select-inspection' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'fa-clipboard'}} General Inspections </h1>
</header>
<div id="general-inspection" class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Brief Instruction
    </li>
  </ul>
  <div class="general-info">
    <div class="section">
      <h2 class="section-title">Inspection</h2>
      <ul class="section-content">
        <li class="section-list"><span>Date:</span> Feb 02, 2017 10:50am</li>
        <li class="section-list"><span>Inspection:</span> Elon Mitchell</li>
        <li class="section-list"><span>Type:</span> Scheduled Inspection</li>
        <li class="section-list"><span>Compliant:</span> Yes</li>
        <li class="section-list"><span>Function R/F Sensor?</span> No</li>
        <li class="section-list"><span>Water Pressure:</span> 11 PSI</li>
      </ul>
    </div>
    <div class="section">
      <h2 class="section-title">Site</h2>
      <ul class="section-content">
        <li class="section-list"><span>Name:</span> Elon Mitchell</li>
        <li class="section-list"><span>Inspection:</span> Elon Mitchell</li>
        <li class="section-list"><span>Type:</span> 301 Las Colinas Boulevard E. Irving, Texas 75039</li>
      </ul>
    </div>
    <div class="section">
      <h2 class="section-title">Controller</h2>
      <ul class="section-content">
        <li class="section-list"><span>Name:</span> Backyard</li>
        <li class="section-list"><span>Location:</span></li>
        <li class="section-list"><span>Model:</span> SL1600</li>
        <li class="section-list"><span>Zones:</span> 12</li>
        <li class="section-list"><span>Aircard:</span> 89011704252318499867</li>
        <li class="section-list"><span>SLW:</span> SLWS Side of House</li>
      </ul>
    </div>

  </div>
</div>