<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.inspections' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'fa-clipboard'}} New Inspection </h1>
</header>
<div class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'leaf'}} Create a new inspection
    </li>
  </ul>
  <form class="weathermatic-page-bottom edit-inspection-form">
    <label for="title">Inspection Title</label>
    <input id="title" type="text" />
    <label for="date">Date & Time</label>
    <div class="same-line" style="width: 100%">
      <input id="date" type="date" style="width: 48%"/>  <input id="date" type="time" style="width: 48%; float: right;" />
    </div>
    <label for="inspection-type">Inspection Type</label>
    <select id="scheduled-select" name="cars">
      <option value="scheduled">Scheduled Inspection</option>
    </select>
    <div class="center-buttons">
      {{#link-to 'smartlink-controller.inspections'}}
        <button class="btn btn-positive">Cancel</button>
      {{/link-to}}
      {{!#link-to 'smartlink-controller.inspections.select-zone'}}
        <button class="btn btn-negative">Start Inspection</button>
      {{!/link-to}}
    </div>
  </form>
</div>