<header class="bar bar-nav">
  <h1 class="title">Smartlink Network</h1>
  <a class="icon icon-refresh pull-right"></a>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">{{fa-icon 'building'}} Your Sites</li>
    <li class="table-view-cell media">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Mega Museum</strong>
          <span class="badge badge-negative pull-right">5 faults</span>
          <p>
            <small>2 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Secret Lair</strong>
          <p>
            <small>3 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>World Domination HQ</strong>
          <span class="badge badge-negative pull-right">1 fault</span>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Secret Laboratory</strong>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Underground Vault</strong>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Warehouse</strong>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Bomb Shelter</strong>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Widget Factory</strong>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Gothic Cathedral</strong>
          <p>
            <small>241 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'site' 1 class='navigate-right'}}
        <div class="media-body">
          <strong>Underwater Lab</strong>
          <p>
            <small>14 controllers</small>
          </p>
        </div>
      {{/link-to}}
    </li>
  </ul>
</div>
